.LandingPage {
    width: 100%;
    height: 100vh; /* La mitad de la altura de la pantalla */
    border: none;
    background-image: url('https://pro-assets.morningconsult.com/wp-uploads/2021/11/04170352/211104_Gaming-Series_Story-3_Subscription-Services_FI.gif');
    background-size: cover;
    background-position: center;
    color: rgb(206, 22, 22);
    font-size: 40px;
    font-family: 'Pixel Font'; /* Agrega la fuente pixelada */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }